@use 'variables' as *;
@use 'mixin' as *;


.info-pansionat {
  @include flex-container(row, flex-start, flex-start, wrap);
    max-width: --max-width;
    margin: 90px auto;
    padding: 10px;
    box-shadow: 0 15px 30px rgba(161, 161, 161, 0.12);
    background: linear-gradient(145deg, var(--color-white), #fcfdff);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: fluid(20, 10);
    column-gap: 10px;
    transition: all 0.4s ease;

    @include lg {
      margin: 70px auto;
      flex-direction: column;
      gap: 20px;
    }

    @include md {
      margin: 50px auto;
      gap: 10px;
    }

    @include sm {
      margin: 30px auto;
      gap: 5px;
    }

    @include xs {
      margin: 30px auto;
      gap: 5px;
    }

    @include xxs {
      margin: 20px auto;
      gap: 5px;
    }

    &:hover {
        transform: background-color 0.4s ease;
        background: linear-gradient(145deg, var(--color-white), #fcfdff);
    }
 
    &__image-section {
        flex: 1 1 500px;
        @include flex-container(column, flex-start, flex-start, nowrap);
        @include lg {
          flex: 1 1 430px;
        }
        @include md {
          
        }
    }
    
    &__main-image{
        width: 90%;
        overflow: hidden;
        border-radius: var(--border-radius-l);
        box-shadow: 
        0 2px 10px rgba(0, 0, 0, 0.1), 
        0 0 0 1px rgba(255, 255, 255, 0.1) inset;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        transition: filter 0.3s ease;
        filter: brightness(1);
        
        &:hover {
            transform: scale(1.02);
            box-shadow: 
            0 10px 20px rgba(0, 0, 0, 0.1), 
            0 0 0 1px rgba(255, 255, 255, 0.1) inset;
            filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
        }
        
        img {
            width: 100%;
            display: block;
            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            transition: filter 0.3s ease;
            
            &:hover {
                transform: scale(1.05);
                filter: brightness(1.05);
            }
        }

        @include lg {
            width: 80%;
        }

        @include md {
            width: 70%;
        }

        @include sm {
            width: 60%;
        }

        @include xs {
            width: 100%;
            margin-bottom: 10px;
        }

        @include xxs {
            width: 100%;
            margin-bottom: 8px;
        }

    }
  
    &__small-images {
        display: flex;
        column-gap: 10px;
        width: 90%;

        @include xs {
          width: 100%;
          column-gap: 5px;
        }

        @include xxs {
          width: 100%;
          column-gap: 5px;
        }
    }
    
    &__room-image, 
    &__people-image {
        flex: 1;
        overflow: hidden;
        border-radius: 16px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        
        &:hover {
            transform: translateY(-5px);
        }
        
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            display: block;
            transition: filter 0.3s ease;

            &:hover {
                filter: brightness(1.05);
            }
        }

        @include lg {
            flex: 1 1 100%; 
            margin-bottom: 15px; 
            
            &:last-child {
              margin-bottom: 0;
            }
        }

          @include md {
            flex: 1 1 100%;
          }

          @include xs {
            flex: 1 1 70%;
          }

          @include xxs {
            flex: 1 1 50%;
          }
    }
    
    &__content {
        flex: 1 1 450px;
        padding: 20px 10px;

        @include lg {
          flex: 1 1 400px;
          padding: 15px 10px;
        }
        
        h2 {
            color: var(--secondary-color);
            font-size: var(--font-size-title);
            font-weight: 600;
            margin-bottom: 15px;
            position: relative;

             @include xs {
                font-size: var(--font-size-title-small);
                margin-bottom: 15px;
            }
            
            @include xxs {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        
        p {
            color: var(--text-color);
            font-size: сlamp(14px, 2vw, 18px);
            line-height: 1.9;

            @include xs {
                font-size: сlamp(12px, 2vw, 16px);
            }
            
            @include xxs {
                font-size: 14px;
            }
        }
    }
}
.pansions-populated {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--max-width);
    margin: 90px auto;
    margin-left: 5px;
    padding: 0 10px;
    background-color: linear-gradient(145deg, #ffffff, #fcfdff);

    @include xs {
        align-items: center; // Центрируем на мобильных
    }

    @include xxs {
        align-items: center;
    }

    @include lg {
      margin: 70px auto;
    }

    @include md {
      margin: 50px auto;
    }

    @include sm {
      margin: 40px auto;
    }

    @include xs {
      margin: 30px auto;
    }

    @include xxs {
      margin: 20px auto;
    }

    &__title {
        color: var(--secondary-color);
        font-size: var(--font-size-title);
        margin-bottom: 30px;
        font-weight: 700;
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: #2ecc71;
            transform: translateX(10px);
        }

        @include xs {
            font-size: 20px;
            margin-bottom: 20px;
        }

        @include xxs {
            font-size: 19px;
            margin-bottom: 15px;
        }
    }

    &__description {
        color: var(--text-color);
        font-size: clump(14px, 1.7vw, 18px);
        margin-bottom: 30px;

        @include xs {
            font-size: 14px;
            margin-bottom: 20px;
        }

        @include xxs {
            font-size: 13px;
            margin-bottom: 15px;
        }
    }
    &__button {
        border: 1px solid #cbe4ef;
        border-radius: 8px;
        font-size: 14px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: var(--secondary-color);
        color: white;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #2ecc71;
        }

      @include xs {
            // Если нужно, чтобы кнопка занимала всю ширину:
            // width: 100%;
            // text-align: center;
            
            // Если нужно оставить ширину по содержимому:
            display: inline-block; // или block + text-align: center в родителе
        }

        @include xxs {
            font-size: 12px;
        }
    }
}
// @include xl-down {
//     .info-pansionat {
//         margin: 70px auto;
//         gap: 30px;
        
//         &__content h2 {
//           font-size: 28px;
//         }
//     }
//  }
  
//   @include lg-down {
//     .info-pansionat {
//         margin: 60px auto;
        
//         &__image-section {
//           flex: 1 1 450px;
//         }
        
//         &__content {
//           flex: 1 1 400px;
//         }
//     }

//   }
  
//   @include md-down {
//     .info-pansionat {
//       margin: 50px auto;
//       flex-direction: column;
      
//       &__image-section,
//       &__content {
//         flex: 1 1 100%;
//         max-width: 100%;
//       }
      
//       &__content {
//         order: -1;
//       }
      
//       &__room-image img,
//       &__people-image img {
//         height: 180px;
//       }
//     }
//   }
  
//   @include sm-down {
//     .info-pansionat {
//       margin: 40px auto;
//       gap: 25px;
      
//       &__content h2 {
//         font-size: 24px;
//       }
      
//       &__content p {
//         font-size: 16px;
//         line-height: 1.6;
//       }
//     }
//   }
  
//   @include xs-down {
//     .pansions-populated {
//       padding: 0 20px;
//       margin: 30px auto;

//       &__title {
//         font-size: 23px;
//       }

//       &__description {
//         font-size: 16px;
//         margin-bottom: 20px;
//       }
//     }
//     .info-pansionat {
//       margin: 30px auto;
//       padding: 0 15px;

//       &__main-image {
//         width: 100%;
//         margin-bottom: 20px;
//       }
      
//       &__small-images {
//         width: 100%;
//         flex-direction: column;
//         gap: 15px;
//       }
      
//       &__room-image img,
//       &__people-image img {
//         height: auto;
//       }
//     }
//   }
  
  @include xxs-down {
    .info-pansionat {
      margin: 20px auto;
      &__content {
        width: 100%;
      }
      &__content h2 {
        font-size: var(--font-size-title-small); //$font-size-title-small;
      }
      
      &__content p {
        font-size: 14px;
        line-height: 1.4;
      }
    }
    .pansions-populated {
      margin: 20px auto;

//       &__title {
//         font-size: var(--font-size-title-small);
//       }

      &__description {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }
  }
    
