@use "header";
@use "footer";
@use "news";
@use "reviews";
@use "benefit";
@use "pension-card";
@use "assesment";
@use "pensions";
@use "promotions";
@use "rehab-slider";
@use "modal";
@use "news-item";
@use "reviews-detail";
@use "news-template";
@use "response";
@use "mixin";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.page {
    font-family: "Roboto", serif;
  }
  
  .page__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}




  