@use "varibles";
@use "functions";
@use "mixin";
@use "animations";
@use "lazy-load";
@use "header";
@use "footer";
@use "news";
@use "reviews";
@use "benefit";
@use "pension-card";
@use "assesment";
@use "pensions";
@use "promotions";
@use "promotions-template";
@use "modal";
@use "news-item";
@use "reviews-detail";
@use "response";
@use "comparison";
@use "map";
@use "stock";
@use "rehab-slider";
@use "info";
@use "documents";
@use "news-template";
@use "profile-modal";

@use 'mixin' as *;

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
}

body {
    width: 100%;
    margin: 0;
    padding: 0; 
}

.page {
    font-family: Inter, Open-Sans;
}

.page__container {
  width: 100%;
  max-width: var(--max-width); 
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  @include xs {
    padding: 0 10px;
  }

  @include xxs {
    padding: 0 5px;
  }
}
  