@use 'varibles' as *;
@use 'mixin' as *;

.address-map {
    margin: 60px auto;
    margin-left: 30px;
    gap: 25px;
    @include flex-container(row, flex-start, center, no-wrap);
    
    &__content {
        margin-bottom: 90px;
    }
    
    &__title {
        color: $secondary-color;
        font-size: $font-size-title;
        margin-bottom: 20px;
        font-weight: 600;
        position: relative;
        padding-bottom: 15px;
    }
    
    &__phone {
        color: #000000;
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 600;
        position: relative;
        padding-bottom: 15px;
        text-decoration: none;
    }
    
    &__description {
        color: $text-color;
        font-size: 17px;
        margin-top: 20px;
    }
    
    &__map {
        margin-top: 20px;
        margin-bottom: 40px;
        width: 100%;
        height: 400px;
    }
}
.transportation {
    margin: 80px auto;
    gap: 40px;
    @include flex-container(row, flex-start, center, no-wrap);
    
    &__title {
        color: $secondary-color;
        font-size: $font-size-title;
        margin-bottom: 30px;
        font-weight: 700;
        position: relative;
    }
    &__image {
        flex: 0 0 45%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 8px; 
        }
    }
    &__content {
        flex: 0 0 55%;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__list {
        margin-left: 0;
        list-style: none;
       &__item {
        color: $text-color;
        font-size: 18px;
        line-height: 1.8;
        margin-bottom: 17px;
        position: relative;
        padding-left: 28px;
        transition: color 0.3s ease;

        &::before {
            content: "✓";
            position: absolute;
            left: 0;
            font-weight: bold;
            color: $secondary-color;
            font-size: 17px;
        }

        &:hover {
            color: #403f3f;
        }
    }
    }
    &__button {
        margin-top: 20px;
        transition: all 0.3s ease;
        &:hover {
            transform: translateY(-5px);
        }
        a {
            box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
        }
    }
}
@include xl-down {
    // Стили для экранов XL
}

@include lg-down {
    // Стили для экранов LG
}

@include md-down {
    .address-map {
        margin: 30px auto;
        gap: 10px;
        padding: 0 20px; 
        flex-direction: column;
        margin-left: 0; 
        width: 100%; 

        &__content {
            width: 100%; 
            margin-bottom: 50px;
        }
        
        &__title {
            margin-bottom: 10px;
            font-size: 25px;
        }
        
        &__map {
            margin-top: 0;
            width: 100%; 
        }
    }
    .transportation {
        flex-direction: column;
        margin: 40px auto;
        gap: 20px;
        &__content {
            margin-left: 35px;
            margin-top: 20px;
            width: 100%;
        }
        &__title {
            margin-bottom: 10px;
            margin-bottom: 20px;
            font-size: 25px;
        }
        &__image {
            width: 100%;
        }
        &__button {
            margin-top: 10px;
        }
    }
}

@include sm-down {
    .address-map {
        padding: 0 15px; 
        
        &__map {
            height: 380px;
        }
    }
}

@include xs-down {
    .address-map {
        padding: 0;
        margin: 0 auto;
        gap: 10px;
        
        &__content {
            margin-bottom: 30px;
            padding: 0 25px; 
        }
        
        &__title {
            margin-bottom: 10px;
            font-size: 23px;
        }
        
        &__phone {
            font-size: 18px;
        }
        
        &__map {
            height: 450px;
            width: 100vw; // Используем 100vw для полной ширины экрана
            margin-left: calc(-50vw + 50%); // Трюк для полной ширины в контейнере
        }
    }
}

@include xxs-down {
    .address-map {
        gap: 5px;
        
        &__content {
            padding: 0 20px;
        }
        
        &__map {
            height: 350px; // Немного уменьшаем высоту для самых маленьких экранов
        }
    }
}