@use 'variables' as *;
@use "sass:math";

$xl: 1200px; 
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 440px;
$xxs: 375px;

@mixin respond($min: null, $max: null) {
  @if $min and $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else if $max {
    @media (max-width: $max) {
      @content;
    }
  }
}

@mixin xl { @include respond($min: $xl) { @content; } }
@mixin lg { @include respond($min: $lg, $max: $xl - 1) { @content; } }
@mixin md { @include respond($min: $md, $max: $lg - 1) { @content; } }
@mixin sm { @include respond($min: $sm, $max: $md - 1) { @content; } }
@mixin xs { @include respond($min: $xs, $max: $sm - 1) { @content; } }
@mixin xxs { @include respond($max: $xs - 1) { @content; } }




@mixin xl-down {
    @media (max-width: $xl) {
      @content;
    }
}
// 992px
@mixin lg-down {
    @media (max-width: $lg) {
      @content;
    }
}
// 768
@mixin md-down {
    @media (max-width: $md) {
      @content;
    }
}
// 576
@mixin sm-down {
    @media (max-width: $sm) {
      @content;
    }
}
// 440px
@mixin xs-down {
    @media (max-width: $xs) {
      @content;
    }
}
// 375px
@mixin xxs-down {
    @media (max-width: $xxs) {
        .divider {
            margin: 15px;
          }
        @content;
    }
}

@function strip-unit($value) {
    @return math.div($value, ($value * 0 + 1));
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  font-size: $min-font-size;

  @media screen and (min-width: $min-vw) {
    font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
  }

  @media screen and (min-width: $max-vw) {
    font-size: $max-font-size;
  }
}

@mixin flex-container($direction: row, $justify: flex-start, $align: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin flex-item($grow: 0, $shrink: 1, $basis: auto) {
  flex-grow: $grow;
  flex-shrink: $shrink;
  flex-basis: $basis;
}

@mixin grid($columns, $rows: auto, $gap: 20px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  gap: $gap;
}

@mixin button-header($background-color, $color, $margin-right) {
    background-color: $background-color;
    color: $color;
    margin-right: $margin-right;
}