@use "varibles" as *;

// Media query for screens up to 1200px
@media (max-width: $breakpoint-xl) { 
  .container-news {
    padding: 0 20px;
  }
}

// Media query for screens up to 992px
@media (max-width: $breakpoint-lg) {
    .container-news {
      flex-direction: column;
      gap: 40px;
  }
}

// Media query for screens up to 768px
@media (max-width: $breakpoint-md) {
  
  .footer-content {
    flex-direction: column;
  }
  
  .menu__section {
    margin-bottom: 20px;
  }
}

// Media query for screens up to 576px
@media (max-width: $breakpoint-sm) {
  // Footer
  .main__menu {
    flex-direction: column;
  }
  
  .menu__section {
    padding: 0 10px;
    margin-bottom: 15px;
  }
  
  .menu__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .quality-control {
    text-align: center;
    margin-top: 15px;
  }
  
  .footer {
    flex-direction: column;
    text-align: center;
    
    &__links {
      margin-top: 10px;
      
      a {
        display: block;
        margin: 5px 0;
      }
    }
  }
  
  .copyright,
  .privacy-policy {
    text-align: center;
  }
}

// Media query for screens up to 375px
@media (max-width: $breakpoint-xxs) {  
  .modal {
    width: 100px;

    &__close {
      width: 30px;
      height: 30px;
    }
  }
}