@use "varibles" as *;

// Media query for screens up to 1200px
@media (max-width: $breakpoint-xl) {
  .page__container,
  .header__container,
  .rehab-slider,
  .pensions,
  .reviews,
  .news {
    width: 95%;
    max-width: 100%;
  }

  .rehab-slider {
    &__container {
      margin-top:150px;
    }
  }
  
  .pension-card {
    flex: 0 0 calc(33.333% - 30px);
  }
  
  .news-slider {
    grid-template-columns: repeat(2, 1fr);
  }
  .container-news {
    padding: 0 20px;
  }

  .news-detail {
      &__item {
          margin-top: 150px;
      }
  }

  .sidebar {
      margin-top: 150px;
  }
}

// Media query for screens up to 992px
@media (max-width: $breakpoint-lg) {
  .header {
    &__container {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 15px;
    }
    
    &__logo {
      order: 1;
      margin-right: 0;
      margin-bottom: 10px;
      
      &-img {
        transform: translateY(5px);
      }
    }
    
    &__location {
      order: 2;
      margin: 10px 20px;
      text-align: center;
    }
    
    &__contacts {
      order: 3;
      margin: 10px 0;
    }
    
    &__actions {
      order: 4;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px 0;
      width: 100%;
    }
    
    &__search {
      margin-top: 10px;
      width: 100%;
      max-width: 300px;
    }
  }
  
  .nav {
    &__list {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 10px;
    }
    
    &__item {
      margin: 0 15px 10px;
    }
  }
  
  // Rehab slider
  .rehab-slider {
    &__content {
      width: 50%;
      padding: 30px 20px;
    }
    &__container {
      margin-top: 240px;
    }
    &__image {
      width: 45%;
      transform: translateY(30px);
    }
    
    &__title {
      font-size: 22px;
    }
  }
  
  .feature-list {
    &__item {
      font-size: 15px;
    }
  }
  
  // Pension cards
  .pension-card {
    flex: 0 0 calc(50% - 30px);
    
    &__content {
      height: auto;
      min-height: 350px;
    }
  }
  
  // Reviews
  .reviews {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  // News
  .news-slider {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  // Assessment
  .assessment {
    flex-direction: column;
    padding: 15px;
  }
  
  // Promotions
  .promotions {
    &__content {
      flex-direction: column;
      
      &__info {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    
    &__card {
      width: 100%;
    }
  }
    .container-news {
      flex-direction: column;
      gap: 40px;
  }

  .news-detail {
      &__item {
          max-width: 100%;
          margin-top: 120px;
      }
      
      &__title {
          font-size: 24px;
      }
  }

  .sidebar {
      margin-top: 0;
  }

  .related-news {
      width: 100%;
      max-width: 600px;
  }
}

// Media query for screens up to 768px
@media (max-width: $breakpoint-md) {
  .header {
    position: relative;
    &__container {
      padding: 0 10px;
      margin-top: 0;
    }
    
    &__actions {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
    &__logo {
      margin-top: 10px;

      &-img {
        transform: translateY(5px);
      }
      &-text {
        margin-bottom: 10px;
      }
    }
  }
  
  .benefit-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    
    &__icon {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    &__content {
      width: 100%;
    }
    
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  
  .button {
    &--primary,
    &--call,
    &--payment {
      margin: 5px 0;
      width: 100%;
      max-width: 300px;
      text-align: center;
    }
    
    &--payment {
      margin: 10px 0;
    }
  }
  
  .rehab-slider {
    &__item {
      flex-direction: column;
      padding: 20px;
    }
    &__container {
      margin-top: 20px;
    }
    &__content {
      width: 100%;
      padding: 20px 15px;
      order: 2;
    }
    
    &__image {
      position: relative;
      width: 100%;
      transform: none;
      margin-bottom: 20px;
      order: 1;
    }
    
    &__img {
      width: 100%;
    }
    
    &__buttons {
      width: 100%;
      margin: 0 auto;
      align-items: center;
    }
  }
  
  .button {
    &--primary,
    &--secondary {
      width: 70%;
      margin-bottom: 10px;
    }
  }
  
  .nav {
    &__list {
      margin-top: 10px;
    }
    
    &__item {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  
  .pension-card {
    flex: 0 0 calc(100% - 30px);
  }
  
  .reviews {
    &__cards {
      grid-template-columns: 1fr;
    }
  }
  
  .review-card {
    margin-bottom: 20px;
  }
  
  .footer-content {
    flex-direction: column;
  }
  
  .menu__section {
    margin-bottom: 20px;
  }
  
  .news {
    &__item {
      padding: 15px;
      margin: 15px;
      
      &__image {
        height: 200px;
      }
      
      &__content {
        padding: 15px;
      }
    }
  }
  
  .promotions {
    &__card {
      &__image {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }

  .news-detail {
    &__item {
        margin-top: 0;
        max-width: 100%;
        padding: 15px;
      }

    &__title {
        font-size: 22px;
      }
    &__image {
        width: 100%;
        height: auto;
      }
    &__content {
      font-size: 16px;
      h3 {
        font-size: 20px;
      }
    }
    &_navigation {
      flex-direction: column;
      gap: 20px;
      a {
        width: 100%;
        text-align: center;
        padding: 10px 15px;
      }
    }
  }
}

// Media query for screens up to 576px
@media (max-width: $breakpoint-sm) {
  // Header
  .header {
    position: relative;
    &__container {
      padding: 0 5px;
    }
    
    &__logo-img {
      width: 40px;
      height: 40px;
    }
    
    &__location {
      font-size: 12px;
      margin: 5px 10px;
    }
    
    &__phone {
      font-size: 14px;
    }
    
    &__hours {
      font-size: 12px;
      margin-top: 8px;
    }
    
    &__search {
      max-width: 100%;
    }
  }
  
  .benefit {
    &-title {
      font-size: 18px;
    }
    
    &-underline {
      width: 50px;
    }
    
    &-item {
      &__icon {
        width: 50px;
        height: 50px;
        
        svg {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
  
  .button {
    padding: 8px 15px;
    font-size: 14px;
  }
  
  // Navigation
  .nav {
    &__list {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 15px;
    }
    
    &__item {
      margin: 5px 0;
      width: 100%;
    }
    
    &__link {
      display: block;
      padding: 8px 0;
      border-bottom: 1px solid #eee;
    }
  }
  
  // Rehab slider
  .rehab-slider {
    &__title {
      font-size: 18px;
      margin-bottom: 15px;
    }
    &__container {
      margin-top: 20px;
    }
    &__buttons {
      margin-top: 15px;
    }
  }
  
  .feature-list {
    &__item {
      font-size: 14px;
      margin-bottom: 10px;
      padding-left: 25px;
    }
  }
  
  .burger-menu {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 100;
    
    span {
      position: absolute;
      background-color: #fff;
      height: 2px;
      width: 100%;
      left: 0;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
    
    &::before,
    &::after {
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    
    &::before {
      top: 0;
    }
  }
  
  // Pensions
  .pensions {
    padding: 10px;
    
    &__title {
      font-size: 20px;
    }
    
    &__description {
      font-size: 14px;
      margin-bottom: 15px;
    }
    
    &__controls {
      display: none;
    }
  }
  
  .pension-card {
    margin-bottom: 15px;
    
    &__name {
      font-size: 18px;
    }
    
    &__content {
      padding: 15px 10px;
      height: auto;
    }
  }
  
  // Reviews
  .reviews {
    &__title {
      font-size: 20px;
    }
  }
  
  .review-card {
    &__content {
      padding: 15px;
    }
    
    &__author {
      font-size: 16px;
    }
    
    &__text {
      font-size: 14px;
    }
  }
  
  // News
  .news {
    &__title {
      font-size: 20px;
      margin-bottom: 15px;
    }
    
    &__item {
      padding: 10px;
      margin: 10px;
      
      h3 {
        font-size: 16px;
      }
      
      p {
        font-size: 14px;
      }
    }
    
    &__navigation {
      justify-content: center;
      margin-left: 0;
      margin-top: 15px;
    }
  }
  
  .all-news {
    margin-left: 15px;
  }
  
  // Footer
  .main__menu {
    flex-direction: column;
  }
  
  .menu__section {
    padding: 0 10px;
    margin-bottom: 15px;
  }
  
  .menu__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .quality-control {
    text-align: center;
    margin-top: 15px;
  }
  
  .footer {
    flex-direction: column;
    text-align: center;
    
    &__links {
      margin-top: 10px;
      
      a {
        display: block;
        margin: 5px 0;
      }
    }
  }
  
  .copyright,
  .privacy-policy {
    text-align: center;
  }
  .news-detail {
    &__item {
      padding: 0;
      margin-top: 0;
      box-shadow: none;
    }
    
    &__title {
      font-size: 20px;
    }
    
    &__text {
      font-size: 14px;
    }
    &__content {
      font-size: 15px;

      h3 {
        font-size: 18px;
      }
    }
  }
    .sidebar h3 {
      font-size: 1.2rem;
  }

  .related-news {
      padding: 15px;
      
      h4 {
          font-size: 1rem;
      }
      
      &__date {
          font-size: 0.8rem;
      }
  }
}

// Media query for screens up to 440px
@media (max-width: $breakpoint-xs) {
  .header {
    position: relative;
    &__logo-img {
      width: 28px;
      height: 28px;
    }
    &__logo-text {
      font-size: 28px;
    }
    
    &__logo__location {
      margin-left: 10px;
    }
    
    &__phone {
      font-size: 14px;
    }
    
    &__hours {
      font-size: 11px;
    }
  }
  
  .button {
    width: 70%;
    padding: 10px 8px;
    font-size: 12px;
  }
  
  // Slider
  .rehab-slider {
    &__content {
      padding: 15px 10px;
    }
    &__container {
      margin-top: 20px;
    }
    
    &__title {
      font-size: 16px;
    }
  }
  
  .nav {
    &__list {
      display: flex;
      flex-direction: column;
    }
    
    &__item {
      margin-right: 0;
      margin-bottom: 10px;
      
      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
  
  .feature-list {
    &__item {
      font-size: 13px;
    }
  }
  
  // Pensions
  .pension-card {
    &__name {
      font-size: 16px;
    }
    
    &__price,
    &__address,
    &__description {
      font-size: 13px;
    }
  }
  
  // Reviews
  .review-card {
    &__content {
      padding: 10px;
    }
  }
  
  .location-tag {
    font-size: 10px;
    padding: 3px 6px;
  }
  
  // Promotions
  .promotions {
    &__content {
      &__info {
        &__title {
          font-size: 18px;
        }
      }
    }
  }
  
  // Assessment
  .assessment-content {
    h2 {
      font-size: 20px;
    }
    
    p {
      font-size: 13px;
    }
  }
  .news-detail__navigation a {
    font-size: 14px;
    padding: 8px 12px;
  }
}

// Media query for screens up to 375px
@media (max-width: $breakpoint-xxs) {
  .header {
    position: relative;
    &__logo {
      margin-left: 5px;
    }
    &__logo-img {
      width: 25px;
      height: 25px;
      transform: translateY(3px);
    }
    &__logo-text {
      font-size: 26px;
    }
    &__logo__location {
      margin-top: 5px;
      margin-right: 5px;
    }
    
    &__location {
      font-size: 11px;
    }
    
    &__phone {
      font-size: 12px;
    }
    
    &__hours {
      font-size: 10px;
      margin-bottom: 5px;
    }
  }
  .main__menu {
    margin-top: 15px;
  }
  .button {
    padding: 5px 8px;
    font-size: 11px;
  }
  
  .rehab-slider {
    &__title {
      font-size: 15px;
    }
    &__container {
      margin-top: 20px;
    }
    
  }
  
  .feature-list {
    &__item {
      font-size: 12px;
      padding-left: 20px;
    }
  }
  
  .pension-card {
    &__name {
      font-size: 15px;
    }
  }
  
  .review-card {
    &__author {
      font-size: 14px;
    }
    
    &__text {
      font-size: 12px;
    }
  }
  
  .news {
    &__item {
      h3 {
        font-size: 15px;
      }
      
      p {
        font-size: 12px;
      }
    }
  }
  
  .all-news,
  .reviews__all-link,
  .review-card__more-link,
  .promotions__content__info__link {
    font-size: 12px;
  }
  
  .divider {
    margin: 15px;
  }
  .modal {
    width: 100px;

    &__close {
      width: 30px;
      height: 30px;
    }
  }
}