@use 'mixin' as *;

.review-page {
    margin-top: 180px;
    &__item {
        width: 900px;

        &__header {
            @include flex-container(row, flex-start, center, no-wrap);
            margin-bottom: 10px;
            margin-top: 20px;

            &__location {
                display: inline-flex;
                padding: 4px 8px;
                border-radius: 3px;
                font-size: 11px;
                color: white;
                text-transform: uppercase;
                font-weight: 600;
                background-color: #0066cc;
            }

            &__branch {
                display: inline-flex;
                padding: 4px 8px;
                margin-left: 20px;
                border-radius: 3px;
                font-size: 11px;
                color: white;
                text-transform: uppercase;
                font-weight: 600;
                background-color: #4CAF50;
            }
        }

        &__document {
            width: 80%;
            border-radius: 6px;
            height: auto;

            img {
                width: 50%;
                height: auto;
            }
        }
    }

    &__author {
        font-size: 25px;
        line-height: 1.35em;
        margin-bottom: 8px;
    }

    &__content {
        font-size: 17px;
        line-height: 1.8em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__date {
        margin-bottom: 25px;
    }

}

.reviews {
    margin-top: 160px;

    &__element {
        margin-bottom: 50px;
    }

    &__title {
        font-size: 1.7em;
        font-weight: 500;
        margin: 0;
    }

    &__description {
        margin: 15px 0;
        font-size: 1.2em;
        font-weight: 300;
        margin-bottom: 25px;
    }
}
