$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$background-color: #f5f5f5;
$link-color: #3c39f2;


$align-center: center;
$radius: 5px;
$max-width: 1200px;

$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 440px;
$breakpoint-xxs: 375px;