$primary-color: #3498db;
$secondary-color: #129e4c;
$text-color: #555;
$background-color: #f5f5f5;
$link-color: #3c39f2;
$font-size-title: 27px;
$font-size-title-small: 22px;


$align-center: center;
$radius: 5px;
$max-width: 1200px;

$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-xs: 440px;
$breakpoint-xxs: 375px;

$text-color: #333;
$light-text: #555;
$border-color: #e0e0e0;
$focus-color: #2c9fc3;
$error-color: #b20202;
$white: #fff;
$modal-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
$input-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
$hover-transition: all 0.3s ease;