 <footer>
            <div class="container">
                <div class="footer-content">
                    <div class="copyright">
                        © 2025,"СТАВРОПОЛЬ ОПЕКА". Все права защищены.
                        <div class="privacy-policy">Политика конфиденциальности</div>
                    </div>
                </div>
            </div>
        </footer>