doctype html
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/styles.css" rel="stylesheet">
<title>Опека Ставрополь</title>
</head>
<body>
  <body class="page">
    <div class="page__container">
        <header class="header">
            <div class="header__container">
                <div class="header__logo">
                    <div>
                        <img class="header__logo-img" src="../img/logo.jpg" alt="ОПЕКА">
                        <span class="header__logo-text">ПЕКА</span>
                    </div>
                    <div class="header__logo__location">
                        <span class="header__location">Ставрополь</span>
                    </div>
                </div>
                <div class="header__contacts">
                    <a class="header__phone" href="tel:+88005555403">8 (000) 000-00-00</a>
                    <a class="header__phone" href="tel:+78122425042">8 (000) 000-00-00</a>
                    <span class="header__hours">Режим работы: с 9:00 до 18:00</span>
                </div>
                <div class="header__actions">
                    <a href="tel:+88005555403" class="button button--call">Заказать звонок</a>
                    <input type="text" class="header__search" placeholder="Поиск...">
                </div>
            </div>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link">О компании</a>
                        <div class="nav__dropdown">
                            <a href="#" class="nav__dropdown-item">История</a>
                            <a href="#" class="nav__dropdown-item">Миссия</a>
                            <a href="#" class="nav__dropdown-item">Наша команда</a>
                            <a href="#" class="nav__dropdown-item">Лицензии</a>
                            <a href="#" class="nav__dropdown-item">Документы</a>
                        </div>
                    </li>
                    <li class="nav__item"><a href="#" class="nav__link">Услуги</a>
                        <div class="nav__dropdown">
                            <a href="#" class="nav__dropdown-item">Услуги сиделок</a>
                            <a href="#" class="nav__dropdown-item">Опека документы</a>
                            <a href="#" class="nav__dropdown-item">Медицина</a>
                            <a href="#" class="nav__dropdown-item">Опека Еда</a>
                            <a href="#" class="nav__dropdown-item">Программа восстановления</a>
                        </div>
                    </li>
                    <li class="nav__item"><a href="#" class="nav__link">Акции</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Новости</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
                </ul>
            </nav>
        </header>
        .news__item__block
            block content
            //- include footer