doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        meta(name="description" content="Сеть пансионатов для пожилых Опека. Работаем в городе Ставрополь")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")      
        script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
        link(rel="icon" href="./img/favicon-16x16.png" type="image/x-icon")
        link(href="/css/styles.css" rel="stylesheet")
        title Опека Ставрополь
    body.page
        .page__container
            header.header#header(itemprop="header")
                .header__container#header__container(itemprop="mainEntityOfPage")
                    .header__logo#header__logo(itemprop="logo")
                        div
                        a(href="/")
                            img.header__logo-img(src="/img/logo_edit.jpg" alt="ОПЕКА")
                    nav.header__nav#header__nav(role="navigation")
                        ul.header__list#header__list(role="list")
                            li.header__item
                                a.header__link(href="/#info-pansionat" role="link") О нас
                            li.header__item
                                a.header__link(href="/#benefits" role="link") Услуги
                            li.header__item
                                a.header__link(href="/#comparison" role="link") Преимущества
                            li.header__item
                                a.header__link(href="/#contacts" role="link") Статьи
                    .header__contacts
                        a.header__phone + 7 933 181-02-35
                        span.header__hours Режим работы: с 9:00 до 18:00
                    .header__actions
                     a.button.button--anketa(href="/" role="link") Заполнить анкету
                     a.button.button__slider.button--call(href="/" role="link") Заказать звонок
            .news__item__block
                block content
                .footer__layout
                    include footer
                    include forms
        //- script(type="module" src="/js/validate.js")
        //- script(type="module" src="/js/modal.js")
        script(type="module" src="/js/questionnaire.js")
        //- script(type="module" src="/js/main.js")
        //- script(type="module" src="/js/modal-pug.js")