extends layout

block content
  .reviews
    h1.reviews__title Отзывы наших клиентов
    .reviews__description
        p Мы ценим мнение каждого и рады поделиться впечатлениями наших посетителей  
    .review-page__item
      each review in reviewsData
        .review__item
          .review__item__content
            h3=review.author
              a(href="/news/" + review.id)= review.title
            .review-page__content
              p=review.content
              if review.fullContent
                a.read-more(href="/reviews/" + review.id) Читать полностью
            .review-page__date= review.date
    .divider
    .review__form
      h2 Оставить свой отзыв

      .form-group
        label(for="pansionat") Пансионат
        select#pansionat.form-control(name="pansionat")
          option(value="") Выберите пансионат 
      .form-group
        label(for="fio") ФИО
        input#fio.form-control(type="text" name="fio" placeholder="Введите ФИО")
      
      .form-group
        label(for="contact") Телефон или Почта
        input#contact.form-control(type="text" name="contact" placeholder="Как с вами связаться чтобы подтвердить достоверность Вашего отзыва?")
      
      .form-group
        label(for="text") Текст отзыва
        textarea#text.form-control(name="text" rows="6" placeholder="Мы будем рады опубликовать Ваш отзыв после проверки его подлинности")
      
      .form-actions
        button.btn.btn-primary(type="submit") Отправить
        .file-upload
          label.file-label
            span.icon 📎
            span.text Прикрепить файл
            input(type="file" hidden)
      
      .form-checkbox
        input#consent(type="checkbox" name="consent")
        label(for="consent") Я согласен на обработку моих персональных данных, включая трансграничную передачу и передачу третьим лицам, уполномоченным для осуществления целей маркетинга, рекламы и изучения мнений. Я прочитал 
          a(href="#") Политику обработки и защиты персональных данных
          |  и согласен с ее положениями