extends layout

block content
  .reviews
    h1.reviews__title Отзывы наших клиентов
    .reviews__description
        p Мы ценим мнение каждого и рады поделиться впечатлениями наших посетителей  
    .review-page__item
      each review in reviewsData
        .review__item
          .review__item__content
            h3=review.author
              a(href="/news/" + review.id)= review.title
            .review-page__content
              p=review.content
              if review.fullContent
                a.read-more(href="/reviews/" + review.id) Читать полностью
            .review-page__date= review.date
    .divider
           