extends layout

block content
  .container__reviews
    h1.reviews-title Отзывы наших клиентов
    .reviews-description
        p Мы ценим мнение каждого и рады поделиться впечатлениями наших посетителей  
    .review__element
      each review in reviewsData
        .review-item
          .news-item__content
            h3=review.author
              a(href="/news/" + review.id)= review.title
            .review-content
              p=review.content
              if review.fullContent
                a.read-more(href="/reviews/" + review.id) Читать полностью
            .news-item__date= review.date
    .divider
           